# Maven
/target/
/.mvn/

# IDE (IntelliJ IDEA)
/.idea/

# Node.js (Angular)
/frontend/node_modules/
/frontend/dist/

# Environment files
.env

# Logs
*.log

# OS files (optionnel)
.DS_Store
Thumbs.db
