:root {
  --mat-app-elevation-shadow-level-8: none !important;
}

.loader {
  border: 8px solid #f3f3f3; /* couleur claire */
  border-top: 8px solid #3498db; /* couleur du spinner (bleu ici) */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto; /* centrer horizontalement */
}

/* Animation de rotation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}