<div class="container">
    <div class="card border-primary mb-3">
        <div class="card-body">
            <h4 class="card-title">Recherche de covoiturage</h4>
            <form>
                <fieldset>
                    <div class="row mb-3">
                        <!-- Adresse de départ -->
                        <div class="col-md-6">
                            <label for="coordinatesStart" class="form-label">Adresse de départ</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" name="coordinatesStart" [(ngModel)]="startCoordinatesSearchQuery"
                                    (keyup)="onStartCoordinatesSearchQueryChange()" placeholder="Entrez une adresse..."
                                    autocomplete="off" />
                                <ul class="list-group position-absolute w-100 z-3 mt-1" *ngIf="startCoordinatesSuggestions.length"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <li class="list-group-item list-group-item-action"
                                        *ngFor="let suggestion of startCoordinatesSuggestions"
                                        (click)="selectStartCoordinatesSuggestions(suggestion)" style="cursor: pointer;">
                                        {{ suggestion.label }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Adresse d'arrivée -->
                        <div class="col-md-6">
                            <label for="coordinatesEnd" class="form-label">Adresse d'arrivée</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" name="coordinatesEnd" [(ngModel)]="endCoordinatesSearchQuery"
                                    (keyup)="onEndCoordinatesSearchQueryChange()" placeholder="Entrez une adresse..."
                                    autocomplete="off" />
                                <ul class="list-group position-absolute w-100 z-3 mt-1" *ngIf="endCoordinatesSuggestions.length"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <li class="list-group-item list-group-item-action"
                                        *ngFor="let suggestion of endCoordinatesSuggestions"
                                        (click)="selectEndCoordinatesSuggestions(suggestion)" style="cursor: pointer;">
                                        {{ suggestion.label }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="customRange1" class="form-label">Example range</label>
                        <input type="range" class="form-range" id="customRange1">
                    </div> -->
                    <div class="row mb-3">
                        <!-- Date -->
                        <label for="date" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <input [(ngModel)]="date" type="date" class="form-control" id="date" name="date" />
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <button type="button" (click)="onSearch()" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
            <div *ngIf="searchedCarpools.length > 0" class="mat-elevation-z8">
                <table class="table table-hover" mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="startLabel">
                        <th class="align-middle" mat-header-cell *matHeaderCellDef mat-sort-header> Départ
                        </th>
                        <td class="align-middle" mat-cell *matCellDef="let element">
                            {{element.startCoordinates.label}} </td>
                    </ng-container>

                    <ng-container matColumnDef="endLabel">
                        <th class="align-middle" mat-header-cell *matHeaderCellDef mat-sort-header> Arrivée </th>
                        <td class="align-middle" mat-cell *matCellDef="let element"> {{element.endCoordinates.label}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estimatedDepartureTime">
                        <th class="align-middle" mat-header-cell *matHeaderCellDef mat-sort-header> Heure de départ </th>
                        <td class="align-middle" mat-cell *matCellDef="let element"> {{element.estimatedDepartureTime | date:'yyyy/MM/dd - HH:mm'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estimatedArrivalTime">
                        <th class="align-middle" mat-header-cell *matHeaderCellDef mat-sort-header> Heure d'arrivée </th>
                        <td class="align-middle" mat-cell *matCellDef="let element"> {{element.estimatedArrivalTime | date:'yyyy/MM/dd - HH:mm'}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="actions">
                        <th class="align-middle" mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element" class="d-flex justify-content-left gap-2">
                            <button type="button" (click)="openModalAsReservation(element.id)"class="btn btn-primary">Réserver</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="10" showFirstLastButtons [hidePageSize]="true">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>